<div class="row small-up-2 medium-up-3 large-up-4 gear" id='dogs' style="display: none;">
  <div class="column">
    <%= image_tag('m1.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple with Grouse</h5>
  </div>
  <div class="column">
    <%= image_tag('p1.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny Camping</h5>
  </div>
  <div class="column">
    <%= image_tag('m3.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple Camping</h5>
  </div>
  <div class="column">
    <%= image_tag('p7.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny Hiking</h5>
  </div>
  <div class="column">
    <%= image_tag('m2.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple Hiking</h5>
  </div>
  <div class="column">
    <%= image_tag('p2.png', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny Pointing</h5>
  </div>
  <div class="column">
    <%= image_tag('mp.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Hiking</h5>
  </div>
  <div class="column">
    <%= image_tag('m4.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple in Moab</h5>
  </div>
  <div class="column">
    <%= image_tag('p4.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny in Moab</h5>
  </div>
  <div class="column">
    <%= image_tag('m5.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple in Uintas</h5>
  </div>
  <div class="column">
    <%= image_tag('p5.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny in Uintas</h5>
  </div>
  <div class="column">
    <%= image_tag('mp2.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Moab</h5>
  </div>
  <div class="column">
    <%= image_tag('p6.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Penny</h5>
  </div>
  <div class="column">
    <%= image_tag('m6.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Maple</h5>
  </div>

</div>
