
<div class="row small-up-2 medium-up-3 large-up-4 gear" id='natalee_gear' style="display: none;">
  <div class="column">
    <%= image_tag('swoon.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Arbor Swoon Camber</h5>
  </div>
  <div class="column">
    <%= image_tag 'k2.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">K2 Contour Double Boa</h5>
  </div>
  <div class="column">
    <%= image_tag 'coat.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Coat</h5>
  </div>
  <div class="column">
    <%= image_tag 'pant.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Lucky pant</h5>
  </div>
  <div class="column">
    <%= image_tag 'goggles.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Smith IOS</h5>
  </div>
  <div class="column">
    <%= image_tag 'gloves.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Dakine leather gloves</h5>
  </div>
  <!--
  <div class="column">
    <,%= link_to(image_tag('hats.jpg', class: 'thumbnail'), my_hats_path) %>
    <h5 class="subheader text-center">My hats</h5>
  </div>
  -->
</div>
