
<div class="row small-up-2 medium-up-3 large-up-4 gear" id='ryan_gear' style="display: none;">
  <div class="column">
    <%= image_tag('gear1.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear2.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear3.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear4.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear5.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear6.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'gear7.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>
  <div class="column">
    <%= image_tag 'ryan.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center"></h5>
  </div>

</div>
