<div class="row small-4 columns">
  <div class="callout notice text-center" style="display: none;">
  </div>
</div>

<div class="row small-11 columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs float-right">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>
<div class="row small-up-2 medium-up-3 large-up-4", id='spinccw'>
  <%- @owners.reverse.each do |owner| %>
    <div class="column">
      <p class='p-underline'>
        <strong><%= owner.name %></strong>
      </p>
      <!--<p class="<#%= owner.name %>_bg">&nbsp;</p>-->
      <%- owner.lift_passes.each do |lp| %>
      <div class="column">
        <ul class='no-bullet'>
          <li><%= link_to_lift_pass(lp) %></li>
          <li>Season: <%= lp.season.view_year %></li>
          <li>WTP: <%= lp.wtp_number %></li>
          <li><%= link_to 'Edit Card', '' %></li>
        </ul>
      <%- end %>
      </div>
    </div>
  <%- end %>
</div>

<hr>
<div class="callout primary"><h5 class="text-center fi-mountains">  Gear</h5></div>
<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <%= image_tag('swoon.jpg', class: 'thumbnail') %>
    <h5 class="subheader text-center">Arbor Swoon Camber</h5>
  </div>
  <div class="column">
    <%= image_tag 'k2.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">K2 Contour Double Boa</h5>
  </div>
  <div class="column">
    <%= image_tag 'coat.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Coat</h5>
  </div>
  <div class="column">
    <%= image_tag 'pant.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Lucky pant</h5>
  </div>
  <div class="column">
    <%= image_tag 'goggles.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Smith IOS</h5>
  </div>
  <div class="column">
    <%= image_tag 'gloves.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Dakine leather gloves</h5>
  </div>
  <div style="display:none;" class="column" id='gear1'>
    <%= image_tag 'gear1.jpg', class: 'thumbnail' %>
    <h5 class="subheader text-center">Flow Deck</h5>
  </div>
  <script>
  </script>
  <div class="column">
    <%= link_to(image_tag('hats.jpg', class: 'thumbnail'), my_hats_path) %>
    <h5 class="subheader text-center">My hats</h5>
  </div>
</div>
