<div class="row small-4 columns">
  <div class="callout notice text-center" style="display: none;">
  </div>
</div>

<div class="row small-11 columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<div class="row small-up-2 medium-up-3 large-up-4">

  <%- @owners.each do |owner| %>
    <%- owner.lift_passes.each do |lp| %>
      <div class="column">
        <%= render 'wtp_modal', lp: lp %>
        <%= link_to_lift_pass(lp) %>
        <h6><%= owner.name %> Ride Data <%= lp.season.begin_year %> - <%= lp.season.end_year %></h6>
      </div>
    <%- end %>
  <%- end %>

</div>

<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
</div>

<div id="ride_partial">
</div>

