<div class="row small-4 columns">
  <div class="callout notice text-center" style="display: none;">
  </div>
</div>

<div class="row small-11 columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<div class="row small-up-2 medium-up-3 large-up-4">

  <%- @owners.each do |owner| %>
    <%- owner.lift_passes.each do |lp| %>
      <div class="column">
        <%= render 'wtp_modal', lp: lp %>
        <%= link_to_lift_pass(lp) %>
        <h6><%= owner.name %> Ride Data <%= lp.season.begin_year %> - <%= lp.season.end_year %></h6>
      </div>
    <%- end %>
  <%- end %>

</div>

<hr>
<div class="callout warning"><h5 class="text-center fi-mountains">  Gear</h5></div>
<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <%= image_tag 'swoon', class: 'thumbnail' %>
    <h5 class="subheader text-center">Arbor Swoon Camber</h5>
  </div>
  <div class="column">
    <%= image_tag 'k2', class: 'thumbnail' %>
    <h5 class="subheader text-center">K2 Contour Double Boa</h5>
  </div>
  <div class="column">
    <%= image_tag 'coat', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Coat</h5>
  </div>
  <div class="column">
    <%= image_tag 'pant', class: 'thumbnail' %>
    <h5 class="subheader text-center">Burton Lucky pant</h5>
  </div>
  <div class="column">
    <%= image_tag 'goggles', class: 'thumbnail' %>
    <h5 class="subheader text-center">Smith IOS</h5>
  </div>
  <div class="column">
    <%= image_tag 'gloves', class: 'thumbnail' %>
    <h5 class="subheader text-center">Dakine leather gloves</h5>
  </div>
  <div class="column">
    <%= link_to(image_tag('hats', class: 'thumbnail'), my_hats_path) %>
    <h5 class="subheader text-center">My hats</h5>
  </div>
</div>
