<div class="row small-4 columns">
  <div class="callout notice text-center" style="display: none;">
  </div>
</div>

<%- owner = @owners.where(name: "Natalee").first %>
<div class="row small-up-4 medium-up-5 large-up-6" id='spinccw'>
  <p class='p-underline text-right'> <strong><%= owner.name %></strong> </p>
  <%- owner.lift_passes.each do |lp| %>
    <div class="column">
      <p><small><%= lp.season.view_year %></small></p>
      <p> <%= link_to_lift_pass(lp) %></p>
    </div>
  <%- end %>
</div>

<hr>
<%= render 'natalee_gear' %>

<script>
  $(document).ready(function() {
    Foundation.Motion.animateIn($("#spinccw"), 'slide-in-right');
    $('.dog').magnificPopup({
      type:'image',
    })
  });
</script>

<%- if false %>
<li><small><%= link_to 'Edit Card', '', class: "supply_wtp", data: {"lift_pass_id": lp.id}, id: "supply_#{lp.id}" %></small></li>
<li style="display: none;" id="<%= lp.id %>_wtp"><small>
<input class="small-input input-group-field wtp_<%= lp.id %>">-
<input class="small-input input-group-field wtp_<%= lp.id %>">-
<input class="small-input input-group-field wtp_<%= lp.id %>">
<input type="submit" class="tiny button save_wtp" value="Submit" data-lift-pass-id="<%= lp.id %>" href="<%= save_wtp_path %>">
</small></li>
<div><small>WTP: <%= lp.wtp_number %></small></div>
<%- end %>

