<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Snowboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
  <%= stylesheet_link_tag "magnific-popup.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
        <div class="row column">
          <!--#
          <%= image_tag "IMG_1051.JPG", class: "thumbnail" %>
          -->
          <%= image_tag "IMG_0846.JPG", class: "thumbnail" %>
          <h5>Natalee Thomason</h5>
          <p>
            Software Developer <br>specializing in Ruby on Rails.
          </p>
          <p>
            This site built with
          </p>
          <p>
            <span class="info label"><i class="fi-check"></i> Rails 4</span>
            <span class="info label"><i class="fi-check"></i> Foundation 6</span>
            <span class="info label"><i class="fi-check"></i> postgreSQL</span>
            <span class="info label"><i class="fi-check"></i> Coffeescript</span>
            <span class="info label"><i class="fi-check"></i> Rspec</span>
            <span class="info label"><i class="fi-check"></i> Heroku</span>
            <span class="info label"><i class="fi-check"></i> Whenever</span>
          </p>
          <p class="fi-paw">&nbsp;</p>
          <%= link_to(image_tag("p8.jpg"), asset_path('p8b.jpg'), class: 'dog') %>
          <br />
          <br />
          <p class="fi-paw">&nbsp;</p>
          <%= link_to(image_tag("m8.jpg"), asset_path('m8b.jpg'), class: 'dog') %>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar hide-for-large">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
            <span class="title-bar-title">Natalee Thomason</span>
          </div>
        </div>
        <div class="callout primary">
          <div class="row column">
            <h1>Snowboarding</h1>
            <p class="lead">
              Presenting vertical drop data from ski Solitude.
            <!--Gaze with envy upon the ride data taken at glorious Solitude. Or salivate over my delicious gear setup.-->
            </p>
          </div>
        </div>

        <%= yield %>

      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $(document).foundation();
      $('.dog').magnificPopup({
        type:'image',
      });
    });
  </script>
</body>
</html>
