<div class="row small-up-2 medium-up-3 large-up-4">
  <h4 class="callout success text-center" id="total">
    <div id="owner_name"> <%= @lift_pass.owner.name %> has been on the slopes a lot! </div>
    <div style="margin-bottom: 4%;" id="vert"><strong><%= human_number(@presenter.total) %></strong> Vertical ft!</div>
    <div id="left_icon" class="fi-mountains float-left icon-stat" style="display: none;"><span class="small-text"><%= @presenter.rides.count %> Runs!</span></div>
    <div id="right_icon" class="fi-trees float-right icon-stat" style="display: none;"><span class="small-text"><%= @presenter.ride_list.keys.count %> Days!</span></div>
  </h4>

  <div class="column">
    <%- @presenter.calendar.each_pair do |k, v| %>
      <table id="calendar">
      <caption> <%= k %> <%= v.select{|x| !x.blank?}[0].year %></caption>
        <%- 1.times do |t| %>
          <%- @presenter.days_of_week.each do |t| %>
            <th><%= t %></th>
          <%- end %>
        <%- end %>
        <%- v.each_slice(7) do |s| %>
          <tr>
            <%- s.each do |d| %>
              <td style="border: 1px solid;" class="bottom-right-day deer_<%= d == @presenter.best_day[0] %>">
                <%- if d.blank? %>
                  <span class="cal"></span>
                <%- else%>
                  <%- if @presenter.ride_list[d] %>
                    <span class="cal"><strong><%= @presenter.ride_list[d][:total_vert] %></strong></span>
                    <%= link_to d.day, day_ride_path(@presenter.ride_list[d][:ride_id]), class: 'day' %>
                  <%- else %>
                    <span class="cal"><%= d.day %></span>
                  <%- end%>
                <%- end%>
              </td>
            <%- end %>
          </tr>
        <%- end %>
      </table>
    <%- end %>
  </div>

<%- if false %>
  <%- v.each_with_index do |date, i| %>
    <div><%= date %> <%= date.strftime("%a").downcase %></div>
    <%- end %>
        <td><%= debug @presenter.calendar_day(v.wday) %></td>
      <!--
      <,%- 1..Time.days_in_month((cdate).month, (cdate).year).times.each_slice(7) do |w| %>
        <tr>
        <,%- w.each do |d| %>
            <td><#%= Date.new(start_date.year, (start_date+m.months).month, d+1) %></td>
        <,%- end %>
        </tr>
      <,%- end %>
      -->

  <table>
  <%- @presenter.ride_list.each_pair do |k, v| %>
    <tr>
      <td><%= v[:total_runs] %> runs</td>
      <td><%= v[:total_vert] %> vert ft</td>
      <td><%= link_to k, day_ride_path(v[:ride_id]), class: 'day' %></td>
      <td>
        <%= v[:total_lifts] %>
        <%- if k == @presenter.best_day[0] %> <span><%= image_tag "deer.png" %></span> <%- end %>
      </td>
    </tr>
  <%- end %>
  </table>
<%- end %>
</div>

<script>
  $(document).ready(function() {
    $('.day').magnificPopup({
        type:'ajax',
        mainClass: 'mfp-zoom-in'
    })
    Foundation.Motion.animateIn($("#vert"), 'spin-in');
    Foundation.Motion.animateIn($("#total"), 'scale-in-down');
    $("#left_icon").delay(1500).slideDown();
    $("#right_icon").delay(1500).slideDown();
  });
</script>
