<%= stylesheet_link_tag "lift_pass/index" %>
<%= javascript_include_tag "lift_pass/index" %>
<div class="row small-11 columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs float-right">
      <li><a href="/">Home</a></li>
       <li id="rider_data_breadcrumb">
        <span class="show-for-sr">Current: </span> Rider Data
      </li>
    </ul>
  </nav>
</div>
<%- if @presenter.rides.empty? %>
<div class="row">
  <div class="small-11 small-centered columns">
    <h5 class="text-center">
      <div>No rides found for <%= @lift_pass.owner.name %></div>
      <br >
      <div class="red">
        You have been in Argenta a lot!
      </div>
      <br >
      (Data imported nightly at 4pm.)
      <%= image_tag "beer.png", size: "80x120" %>
    </h5>
  </div>
</div>
<%- end %>

<%- unless @lift_pass.rides.empty? %>
  <%= render 'lift_pass_data' %>
<%- end %>
